.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.left-side {
  display: flex;
  align-items: center;

}

.logo-img {
  height: 200px;
}


.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.about-title { 
  font-family: Poppins, Arial;
  color: black; 
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 100px;
}
